#aboutHeader{
    text-align: center;
    height: 10vh;   
    background-color: #364156;
    color: #FFFFFF;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    font-size: 5vh;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

#textSection{
    text-align: center;
    background-color: #212D40;
    color: #FFFFFF;
    font-size: 3vh;
    font-weight: bolder;
}

#imageOverlay{
    border-radius: 2vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #ffffff;
    font-weight: bolder;
    background-color: #364156;
    font-family: 'Poppins', sans-serif;
}

#aboutText{

}

#aboutBackgroundImage{
    
}